<div class="container">
    <h1 class="text-center">Administrator</h1>
    <%= render 'admin/nav_links' %>
    <div class="text-center mt-5">
      <div class="btn-group">
        <%= link_to "Edit", edit_book_path(@book), class:"btn btn-warning" %>
        <%= button_to "Delete", @book, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
        </div>
    </div>
<div class="row mt-1">
    <p>
        <strong>Views:</strong> <%= @book.views %>
    </p>
</div>
    <div class="row mt-1">
      <p>
        <strong>Title:</strong> <%= @book.title %>
      </p>
    </div>
<div class= "row mt-1">
    <p>
    <strong>Author:</strong> <%= @book.author %>
    </p>
</div>
<div class= "row mt-1">
    <p>
    <strong>Description:</strong> <%= @book.description %>
    </p>
</div>
<div class= "row mt-1">
    <p><strong>User:</strong>
    <%= "#{@book.user.email} | #{@book.user.name} | #{pluralize(@book.user.views, "View")}"%>
    </p>
</div>
</div>