<% if current_user %>
<div id="<%= dom_id book %>">

    <h2><%= book.title %></h2>
    <h4>Added by <%= link_to book.user.name, user_path(book.user) %></h4>
    <h5><%= book.author %></h5>
<div>
    <%= book.description %>
    <%= pluralize(book.views, "view") %>
</div>
</div>

<% end %>